@font-face {
    font-family: letricaNueva;
    src: url('../fonts/demo-binggo-wood-display.otf');
}
*{
 margin: 0%;
 color: white;
 font-family: letricaNueva;
}
body{
    background-color: black;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.cabecera{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.TLogo{
    font-size: 2rem;
    font-weight: bold;
}
.linksHeader{
    font-size: 1.5rem;
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    
    
}
.linksHeader a{
    text-decoration: none;
}

.linksHeader a:hover{
    text-decoration: underline 3px solid #cea555;
}
.TStart{
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 8rem;
}
.img1{
    margin: auto;
    width: 30rem;
}
.withOur{
    margin: auto;
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
}
.menu{
    width: 2rem;
    display: none;
}
#check{
    display: none;
}
.linksMenu{
    flex-direction: column;
    align-items: end;
    display: none;
    
}
.linksMenu a:hover{
    text-decoration: underline 3px solid #cea555;
    
}
#check:checked ~ .linksMenu{
    display: flex;

}
@media only screen and (max-width:600px) {
    .menu{
        display: block;
    }
    .linksHeader{
        display: none;
    }
    
}
